html,body {
	height: 100%;
	overflow: hidden;
}
body {
	background-image: url(../images/bg/1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	 -webkit-transition: background-image 3500ms ease-in-out 0s;
	-moz-transition: background-image 3500ms ease-in-out 0s;
	-o-transition: background-image 3500ms ease-in-out 0s;
	transition: background-image 3500ms ease-in-out 0s; 
}
.qute-square {
	position: absolute;
	min-width: 600px;
	background-color: #CCCCCC;
	height: 300px;
	opacity: .5;
	border-radius: 4px;
	left: 50%;
	top: 50%;
	margin-left: -300px;
	margin-top: -150px;
}
.square-inner {
	margin: 7px 14px;
}
.square-header {
	text-align: center;
}
.square-header h1 {
	font-size: 30px;
	text-shadow: #EEEEEE 1px 1px 1px;
}